.section {
    background-color: #fff;
    padding: 3.5em 15%;
}

.slider-section {
    padding: 0 15%;
}

.team-section {
    background-color: #f47322;
    padding: 3.5em 15%;
}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 720px) {
    .slider-section {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 480px) {
    .slider-section {
        padding: 0 8%;
    }
}

@media only screen and (max-width: 375px) {
    .slider-section {
        padding: 0 4%;
    }
}