.facilities{
    text-align: center;
    max-width: none;
    padding-left: 5%; 
    padding-right: 5%; 
}
.facilities .row{
    padding-left: 5%; 
    padding-right: 5%; 
}
.facilities-bg{
    width: 100%;
    height: 200px;
    background-image: url('../../../img_upload/facilities/2102201917364221022019173642921422845.jpg');
    /* <?php echo $pathImgFacilities.$facilities[$i]['facilities_img']; ?> */
    /* 'img_upload/background/default.png' */
    background-repeat: no-repeat;  
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    color: #ffffff;   
}
.facilities-content{
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 100%;
    padding: 3%;
}
.facilities-content p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media (max-width: 767px) {
    .facilities{
        padding-top: 5%
    }
}