

.text-header{
    color: #f47322;
}

.text-detail{
    color: #ffffff;
}
/* fixed height img */
#image_footer_fixed {
    width: auto;
    height: 15em;
    overflow: hidden;
}
.row-footer{
    margin-right: 0;
    margin-left: 0;
}
.text-menu-footer{
    color: #ffffff;
    padding-top: 5%;

}