
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
.gal-item {
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 8px;
}

.gal-item .box {
    overflow: hidden;
}

.box img {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

.gallery-detail {
    color: black;
}    
.gallery-show {
    display: inherit;
    padding-left: 150px; 
    padding-right: 150px;
}
@media (max-width: 767px) {
    .gallery-header{
      text-align: center;
    }
    .gallery{
        padding-top: 5%;
    }

  .gallery-slide {
    display: inline;
    padding-top: 50;
    padding-bottom: 50;
}
}
@media (max-width: 739px) {


}