#image_fixed {
    width: auto;
    height: 300px;
    overflow: hidden;
}

.gal-item {
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 5%;
}

.gal-item .box {
    /* height: 100%; */
    overflow: hidden;
}

.box img {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}




.img-fluid-gellery {
    width: 100%;
    height: 150px;
    position: initial;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.gallery-slide {
    display: none;
}
.gallery-show {
    display: inherit;
    padding-left: 0px; 
    padding-right: 0px;
    padding-bottom: 10%;

}
/* img.img-fluid.w-100{
    width: 
} */
@media (max-width: 768px) {
    
    .gallery-show {
        display: none;
    }
    .gallery-slide {
        display: inline;
        padding-top: 50;
        padding-bottom: 50;
    }
}