.list-one{
    margin-top: -250px;
}
.list-two{
    margin-top: -130px;
}
.room-text{
    color: #000;
}
.room-text-name{
    color: #f47322;
}
.room-text-name2{
    color: #f47322;
}
.list-br{
    padding-bottom: 10%;
}
.room-detail-text{
    position: absolute;
    bottom: 0;
}
.img-room-show{
    object-fit: cover;
    width: 100%;
}

@media (min-width: 992px){
    .img-room-show {
        height: 400px;
    }
}

@media only screen and (max-width: 991px){
    .list-one {
        margin-top: -10%;

    }
    .list-two{
        margin-top: -5%;
    }
    .room-text-name{
        font-size: 1.25rem;
    }
    .room-text h1{
        font-size: 2rem;
    }
    .room-text h4{
        font-size: 1rem;
    }
    .img-room-show{
        height: 300px;
    }
}
@media only screen and (max-width: 768px) {
    .room-detail-text {
        position: unset;
        margin-bottom: 5%;
    }
}
@media only screen and (max-width: 480px) {
    .room-detail-text {
        position: unset;
        margin-bottom: 5%;
    }
}
@media only screen and (max-width: 375px) {
    .room-detail-text {
        position: unset;
        margin-bottom: 5%;
    }
}