.section{
    padding: 3.5em 10%;
}
.menu-section{
    padding: 2em 10em;
}
.section-product-detail{ 
    padding: 40px 0; 
}
.primary-nav{
    display: none;
}
#top-sub-menu{
    display: block;
}
.pagination {
    margin: 0;
}
.menu-item{
    position: relative;
    float: left;
    padding: 0.6em 0.6em;
}
.menu-item.active{
    background-color: black;
    border-radius: 5px;
}
.menu-item.active a{
    color: #fff;
}
.sub-item{
    position: relative;
    float: left;
    padding: 0.6em 0.6em;
}
.sub-item a{
    color: #fff;
}
.sub-item.active a{
    color: #fec619;
}
.search-panel{
    box-shadow: 0 0.5vw 0.5vw 0 rgba(0,0,0,0.2),0 0.5vw 1vw 0 rgba(0,0,0,0.19);
    height: 28em;
    margin-top: 3em;
}
.card-product {
    background-color: #f5f4f2;
    height: 28em;
    padding: 5%;
    margin-top: 3em;
}
.img-product-crop {
    height: 60%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.primary-nav {
    bottom: 20px;
}
.custom-select {
    height: 3vw;
}
.custom-select select {
    display: none;
}
.select-selected {
    background-color: rgb(255, 255, 255);
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
.select-items {
    background-color: #000;
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.paginate_button {
    position: relative;
    cursor: pointer;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #fec619;
}
.pagination {
    display: inline-block;
}
.pagination > li {
    display: inline;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #fec619 !important;
}
@media only screen and (max-width: 1600px){

}

@media only screen and (max-width: 1366px){

}

@media only screen and (max-width: 1024px){
    .primary-nav{
        display: block;
    }
    #top-sub-menu{
        display: none;
    }
}

@media only screen and (max-width: 992px){
    .search-panel{
        height: unset;
    }
    .custom-select {
        height: 2.25em;
    }
}

@media only screen and (max-width: 720px){

}

@media only screen and (max-width: 576px){

}

@media only screen and (max-width: 420px){

}

@media only screen and (max-width: 375px){

}

@media only screen and (max-width: 280px){

}