span{
    color: #000;
}
.room-header{
    color: #f47322;
}
.rooms-center{
    margin-left:150;
}
.text-detail-room{
    color: #000;
}
.text-black{
    color: rgb(102, 102, 102);
}
.room-detail-style {
    margin-bottom: 2.5rem;
}
.slide-room-detail {

}
.img-room-detail {
    width: 100%; height: auto; object-fit: cover;
}
.room-detail-thb {

}
.text-black {
    color: #000;
}
.text-black-title{
    color: #000;
}
.text-white-button{
    color: #ffffff;
}
@media (max-width: 991px) {
    section.p-0{
        padding-bottom: 1.5rem !important;
    }
} 
@media (max-width: 767px) {
    .rooms {
        padding-top: 20%
    }
    .slide-room-detail {
        margin-top: 0; margin-left:0
    }
    .rooms-center{
        margin-left:0;
    }            
    .room-detail-style {

    }
    .room-detail-thb {
        padding-top: 0%;
    }
}
@media (max-width: 739px) {
    
    .rooms {
        padding-top: 20%
    }
    .slide-room-detail {
        margin-top: 0; margin-left:0
    }
    .rooms-center{
        margin-left:0;
    }            
    .room-detail-style {

    }
    .room-detail-thb {
        padding-top: 8%;
    }
    .room-detail-detail {
        
    }
    .text-black-title {
        color: #000;
        font-size: 20px;
    }
    .room-thb-button {
        /* text-align: center; */
        font-size: 15px;
    }
    .text-white-button{
        color: #ffffff;
        font-size: 15px;
    }
    .room-text-black{
        color: #000;
        font-size: 12px;
    }
}