.section{
    background-color: #fff;
    padding: 3.5em 15%;
}
.service-section{
    padding: 3.5em 15%;
}
.team-section{
    background-color: #fec619;
    padding: 3.5em 15%;
}
.form-panel {
    padding: 0px 0px 15% 35%;
}
.text-panel{
    padding: 0px 10% 15% 10%;
}
.our-service-panel{
    padding: 2em 10%;
}
.our-service-detail{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    min-height: 5em;
    padding-top: 10px;
}
.service-icon-circle{
    display: inline-block;
    background: #fec619;
    color: #000 !important;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
}
@media only screen and (max-width: 1600px){

}

@media only screen and (max-width: 1366px){
    .our-service-panel {
        padding: 2em 8%;
    }
}

@media only screen and (max-width: 1024px){
    .our-service-panel {
        padding: 2em 2%;
    }
}

@media only screen and (max-width: 992px){
    .text-panel{
        padding-left: 5%;
    }
}

@media only screen and (max-width: 768px){
    .form-panel {
        padding: 0px 15% 5% 15%;
    }
}

@media only screen and (max-width: 720px){
    .service-section{
        padding: 3.5em 5%;
    }
}

@media only screen and (max-width: 576px){
    .form-panel {
        padding: 0 10% 5% 10%;
    }
    .text-panel {
        padding: 0 5% 5% 5%;
    }
}

@media only screen and (max-width: 480px){

}

@media only screen and (max-width: 375px){

}