.menu-slide-style{
    color: #ffffff;
}
.menu-slide{
    margin-top : -20em;
}
.btn-orange {
    color: #fff;
    background-color: #ff6c11;
}
.btn-orange:hover {
    color: #fff;
    background-color: #ff6c11;
}
.menu-slide-detail {
    position: absolute;
    top: 35%;
    max-width: 100%;
    z-index: 15;
    padding-left: 10%; 
    padding-right: 10%; 
    width:100%;
}
.menu-slide-item{
    position:relative;
}
.home-menu-img{
     object-fit: cover;
}
.menu-slide-popup{
    z-index: 10;
    padding: 0px 10% 0px 10%;
    top: 35%;
    position: absolute;
    width: 100%;
}
.bg-pop-color{
    background-color: #00000036;
    width: 80%; 
}
.bg-pop-color .form-control{
    background-color: #00000078; 
    border: 0.5px solid #ffffff45; 
    color :fff;
}
@media (max-width: 991px) {
    .menu-slide-title{
        text-align: center;
        padding-bottom: 5%;
    }
    .menu-slide-detail {
        top: 35%;
    }
    .menu-slide-popup{
        top: 35%;
    }
}
@media (max-width: 767px) {
    .menu-slide-detail {
        top: 40%;
    }
}