body {
    font-family: 'gothic';
    color: #000;
    font-size: 0.9vw;
    min-height: 100vh;
}

footer {
    background-color: #343434;
    color: #fff;
    padding: 2% 8% 1rem 8%;
}

.hoverable {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    z-index: 1000;
}

.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.breeserif-date {
    font-family: 'Bree Serif', serif;
}

.form-control {
    height: calc(2.25em + 2px);
    padding: .375em .75em;
    font-size: 1em;
}

.footer-panel {
    padding: 5% 5% 0 5%;
}

.footer-header {
    border-bottom: solid 0.3em #fec619;
    padding: 5% 0;
}

.btn {
    font-family: 'BebasNeuewebfont';
    font-size: 1.75em;
    padding: 0.1em 1.25em;
}

.btn.facebook {
    background-color: #4867aa;
    border: solid 2px #fff;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.2em 1.25em;
    height: unset;
}

.btn.google {
    background-color: #e04a32;
    border: solid 2px #fff;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.2em 1.25em;
    height: unset;
}

.btn-yellow {
    background-color: #fec619;
}

.btn-black {
    background-color: #000;
    color: #fff;
}

.header {
    background-color: #343434;
    padding: 0 5%;
}

.header .header-panel {
    font-size: 0.8rem;
    color: #fec619;
    padding: 1em;
}

.img-icon {
    height: 108px;
    padding: 0px;
}

.layout-menu .nav-item .nav-link {
    color: #ffffff;
}

/* article */

.absolute-article {
    position: absolute;
    top: 180px;
    left: 5px;
    width: 60px;
    height: 70px;
    background-color: #ffd900;
}

/* menu */

.icon-top {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav {
    flex-wrap: unset;
}

.nav-item {
    padding: 0 1em;
}

.nav-item.active {
    background-color: #fec619;
    border-radius: 25px;
}

.nav-link {
    padding: .25rem 1rem;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: #000;
}

.margin-text {
    margin-bottom: 40px;
}

.text-header {
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
}

.text-detail {
    font-family: 'Muli', sans-serif;
}

.text-sm {
    font-size: 1.5em;
}

.text-md {
    font-size: 2.5em;
}

.text-lg {
    font-size: 3em;
}

.text-xl {
    font-size: 4em;
}

.text-content-dot {
    width: 100%;
    height: 100%;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

/* Fixes dropdown menus placed on the right side */

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.navbar-nav>li>.icon {
    padding-right: 24px;
    display: inline-block;
}

.lng-icon {
    display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    width: 2em;
    line-height: 2em;
    cursor: pointer;
}

.active-lng .lng-icon {
    color: #000;
    background: #fec619;
    border-radius: 50%;
}

a {
    color: #000000;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

table {
    font-size: 1em;
}

.right {
    float: right;
}

.arrow {
    line-height: 0;
    position: absolute;
    display: block;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
}

.arrow-prev-xm {
    background-image: url('../images/icon/prev_icon_xm.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    left: -25px;
}

.arrow-next-xm {
    background-image: url('../images/icon/next_icon_xm.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    right: -25px;
}

.arrow-prev-sm {
    background-image: url('../images/icon/prev_icon_sm.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 20px);
    width: 20px;
    height: 40px;
    left: -25px;
}

.arrow-next-sm {
    background-image: url('../images/icon/next_icon_sm.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 20px);
    width: 20px;
    height: 40px;
    right: -25px;
}

.arrow-prev-md {
    background-image: url('../images/icon/prev_icon_md.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 32px);
    width: 20px;
    height: 64px;
    left: -25px;
}

.arrow-next-md {
    background-image: url('../images/icon/next_icon_md.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 32px);
    width: 20px;
    height: 64px;
    right: -25px;
}

.arrow-prev-lg {
    background-image: url('../images/icon/prev_icon_lg.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 50px);
    width: 30px;
    height: 100px;
    left: -25px;
}

.arrow-next-lg {
    background-image: url('../images/icon/next_icon_lg.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 50px);
    width: 30px;
    height: 100px;
    right: -25px;
}

.arrow-prev-lg.black {
    background-image: url('../images/icon/prev_icon_lg_black.png');
}

.arrow-next-lg.black {
    background-image: url('../images/icon/next_icon_lg_black.png');
}

.slick-slide {
    transition: all ease-in-out .3s;
    margin: 0px 0.225%;
    opacity: 1;
}

.slick-track {
    padding: 20px 0px;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.send-message {
    border: 0px;
    border-bottom: 1px solid #c5c5c5 !important;
    box-shadow: none;
    margin-bottom: 5%;
}

.send-message:focus {
    border: 0px;
    border-bottom: 1px solid #c5c5c5 !important;
    box-shadow: none !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.img-fill {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1600px) {
    .navbar-nav>li>.icon {
        padding-right: 16px;
    }
    .absolute-article {
        width: 55px;
        height: 60px;
    }
}

@media only screen and (max-width: 1366px) {
    body {
        font-size: 14px;
    }
    footer {
        padding: 2% 4%;
    }
    .section.p-md{
        padding: 3.5em 10%;
    }
    .section.p-sm{
        padding: 3.5em 5%;
    }
    .layout-menu {
        font-size: 12px;
    }
    .text-sm {
        font-size: 1em;
    }
    .text-md {
        font-size: 1.75em;
    }
    .text-lg {
        font-size: 2.25em;
    }
    .text-xl {
        font-size: 3em;
    }
    .img-icon {
        height: 80px;
    }
    .header {
        padding: 0 2%;
    }
}

@media only screen and (max-width: 1024px) {
    .img-icon {
        height: 64px;
    }
    .navbar-nav>li>.icon {
        padding-right: 12px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active {
        color: #41403f;
    }
    .ml-auto {
        text-align: center;
    }
    .header .header-detail {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 12px;
    }
    .header {
        padding: 0;
    }
    .absolute-article {
        width: 50px;
        height: 55px;
    }
}

@media only screen and (max-width: 576px) {
    .icon-top {
        display: none;
    }
    footer {
        padding: 2%;
    }
}

@media only screen and (max-width: 375px) {}